# Dependencies
node_modules
frontend/node_modules/
.pnpm-store

# Build output
dist
dist-ssr
frontend/build/
backend/target/
backend/.mvn/
backend/*.iml
*.class

# Logs & IDE / OS
*.log
.DS_Store
.env
.env.local
.vscode
.idea/
